@model IEnumerable<Student>
@{
    ViewData["Title"] = "Students";
}

<div class="d-flex justify-content-between px-5">
    <h3>List of students</h3>   
    <a class="btn btn-success" asp-action="Create">Create new</a>    
</div>

<table class="table shadow rounded-3 overflow-hidden mt-2">
    <thead class="bg-primary text-white">
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var student in Model) {
        <tr>
            <td>@student.FirstName @student.LastName</td>            
            <td>@student.DateOfBirth.ToShortDateString()</td>
            <td>
                <a class="btn btn-warning w-100" asp-action="Edit" asp-route-id="@student.Id">Update</a>
            </td>
            <td>
                <a class="btn btn-danger w-100" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
            </td>
        </tr>
    }
</table>
